.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item i {
    cursor: pointer;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: green;
    cursor: pointer;
}

.cont {
    padding: 10px;
    margin: 10px;
}




.container {
    padding: 10px;
    text-align: center;
    justify-content: center;

}

.card {
    padding: 20px;
}

.card img {
    text-align: center;
    width: 50%;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}