

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex" routerLink="products" style="cursor: pointer;">
            <strong style="font-size: 30px;">eShop</strong>
        </div>
        <button (click)="openCart()" class="btn btn-dark">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>